:root {
  --bg: #ffffff;
  --card: #ffffff;
  --text: #222;
  --primary: #820ad1;
}

.dark {
  --bg: #121212;
  --card: #1e1e1e;
  --text: #f5f5f5;
  --primary: #b44cff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  transition: 0.3s;
}
